<div class="blog-footer">
  <section class="bio">
    <div class="copy">
      <p><strong>The Forever Pace</strong> is about finding the balance between a sprint and a slog. It’s where the runner’s high kicks in and muscles, bones, and brain work together effortlessly.</p><p>That’s what we strive for at Nonfiction, too. Collaborative, user-focused design that strengthens teams instead of churning them. Here you’ll find perspectives, how-tos, and inspiration to help you grow your own sustainable design process.</p>
    </div>
    <div class="callout">
      {{>comp-signup}}
    </div>
  </section>

  <footer class="footer">
      <p class="sm social">
        <a href="https://www.linkedin.com/company/nonfiction" target="_blank" title="Connect with Nonfiction on LinkedIn"><i class="fa fa-linkedin"></i></a> <a href="https://www.twitter.com/NonfictionUXUI" target="_blank" title="Follow Nonfiction on Twitter"><i class="fa fa-twitter"></i></a>
      </p>
      <p>
      <span class="sm legal">&copy; {{year}} Nonfiction, LLC</span>
      <a href="https://www.google.com/maps/place/51+Melcher+St,+Boston,+MA+02210/@42.3492054,-71.0522872,17z/data=!3m1!4b1!4m5!3m4!1s0x89e37a7fd995807b:0xa7dd70c437128f6f!8m2!3d42.3492015!4d-71.0500985" class="sm address" target="_blank" title="Get driving directions">51 Melcher St. Fl. 1 Boston, MA 02210</a>
      <a href="/contact" class="sm contact" title="Contact Nonfiction with questions or to discuss collaborating">Contact</a>
      <a href="/jobs" class="sm jobs" title="View full-time and freelance job openings at Nonfiction">Jobs</a>
      </p>
    </div>
</div>
