
<nav>
  <div class="grid">
    <ul class="nav-primary">
      <li class="nav-branding">
        <a href="/" title="Nonfiction Homepage" class="branding">
          <img src="/img/nonfiction-logo.svg" alt="Nonfiction logo" class="nf-logo">
        </a>
      <li><a href="/portfolio/" title="View a selection of recent design projects">Portfolio</a></li>
      <li><a href="/services/" title="Learn about our design consulting services">Services</a></li>
      <li><a href="/about/" title="Understand our values as a design studio">About</a></li>
      <li><a href="/blog/" title="Read posts from The Forever Pace">Blog</a></li>
      <li class="nav-cta">
        <span class="label">Want to create a great product together?</span>
        <a href="/contact/" title="Contact Nonfiction with questions or to discuss collaborating" class="btn" id="nav-cta">Let's Talk</a>
      </li>
    </ul>
    <span class="nav-toggle">
      <a href="javascript:void(0)" title="Toggle the menu" id="nav-primary-toggle" class="hamburger hamburger--spin">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </a>
    </span>
  </div>
</nav>
