{{!--
This error template is used for all 404 errors, which might occur on your site.
It's a good idea to keep this template as minimal as possible in terms of both file size and complexity.
--}}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- CSS --}}
    {{> "site-css"}}
    {{!-- {{> "site-css-local"}} --}}

</head>
<body class="error-template">
  {{> "site-nav"}}

  <header class="header focus">
      <div class="container">
          <h1 class="xs stroke">404 Error</h1>
          <h2 class="lg  headline"><span class="one">We&#8217;re sorry, but the page you&#8217;re looking for can&#8217;t be found.</span></h2>
          <p>You may want to try one of the links at the top of the page or <a href="/" title="Go to the homepage">visit the homepage</a>.</p>
      </div>
    </header>

</body>
</html>
