{{!--
This error template is used for all 404 errors, which might occur on your site.
It's a good idea to keep this template as minimal as possible in terms of both file size and complexity.
--}}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- CSS --}}
    {{> "site-css"}}
    {{!-- {{> "site-css-local"}} --}}

</head>
<body class="error-template">
  {{> "site-nav"}}

  <header class="header center pad-bot-6">
    <div class="container pad-top-7">
      <h1 class="lg headline">{{code}} &ndash; {{message}}</h1>
      <p>A problem has occured. The page you were looking for can't be found.</p>
      <a class="error-link" href="{{@blog.url}}">Go to the front page →</a>
    </div>
  </header>

</body>
</html>
