{{!< default}}

<header class="header center">
  <div class="container">
    <h1 class="xl headline">{{@blog.title}}</h1>
    <p>{{@blog.description}}</p>
  </div>
</header>

<main id="site-main" class="site-main outer" role="main">
  <div class="container">
    <div class="post-feed">
      {{#foreach posts}}
        {{> "post-card"}}
      {{/foreach}}
    </div>
  </div>
</main>
