{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}
{{#tag}}

<header class="header center">
  <div class="container">
    <h1 class="lg headline">#{{name}}</h1>
    {{#if description}}
      <p>{{description}}</p>
    {{else}}
      <p>Showing {{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}} with this tag</p>
    {{/if}}
  </div>
</header>

{{/tag}}

<main id="site-main" class="site-main outer" role="main">
  <div class="container">
    <div class="post-feed">
      {{#foreach posts}}
        {{> "post-card"}}
      {{/foreach}}
    </div>
  </div>
</main>
