/*/////////////////////////////////////////*/
/* ￼Variables */
/*/////////////////////////////////////////*/

$text: #333;
$text-muted: #748699;
$text-link: #03b1cb;
$nf-green: #6ebf4b;
$base: #fff;
$rule: #ebeff2;

// Decimal measurements, 20px default text
$define-rem: 10px;
$scale: 1.25;

$size-1: 2rem;
$size-0: $size-1 / $scale;
$size-00: $size-0 / $scale;
$size-000: $size-00 / $scale;
$size-2: $size-1 * $scale;
$size-3: $size-2 * $scale;
$size-4: $size-3 * $scale;
$size-5: $size-4 * $scale;
$size-6: $size-5 * $scale;
$size-7: $size-6 * $scale;
$size-8: $size-7 * $scale;
$size-9: $size-8 * $scale;

$line-1: 100%;
$line-0: $line-1 / $scale;
$line-00: $line-0 / $scale;
$line-000: $line-00 / $scale;
$line-2: $line-1 * $scale;
$line-3: $line-2 * $scale;
$line-4: $line-3 * $scale;
$line-5: $line-4 * $scale;
$line-6: $line-5 * $scale;
$line-7: $line-6 * $scale;
$line-8: $line-7 * $scale;
$line-9: $line-8 * $scale;

$regular: 400;
$medium: 600;
$bold: 700;
$black: 900;

$shadow: 0 2px 5px rgba(0,0,0,.1);
$shadow-hover: 0 3px 20px rgba(0,0,0,.3);

/*/////////////////////////////////////////*/
/* ￼Global */
/*/////////////////////////////////////////*/

html {
  background: $base;
  font-size: $define-rem;
}

.post-feed {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
    padding: 40px 0 0 0;
}

/*/////////////////////////////////////////*/
/* Overview */
/*/////////////////////////////////////////*/

.post-card {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0 20px 40px;
    min-height: 300px;
    background: #fff center center;
    background-size: cover;
    border-radius: 5px;
    box-shadow: $shadow;
    transition: all 0.5s ease;

    &:hover {
      box-shadow: $shadow-hover;
      transition: all 0.3s ease;
      transform: translate3D(0, -1px, 0);
    }
}

.post-card-image-link {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}

.post-card-image {
    width: auto;
    height: 200px;
    background: var(--lightgrey) no-repeat center center;
    background-size: cover;
}

.post-card-content-link {
    position: relative;
    display: block;
    padding: 2.5rem 2.5rem 0 2.5rem;

    &:hover {
      text-decoration: none;
    }
}

.post-card-tags {
  display: block;
  padding-top: $size-1;
  padding-left: $size-2;
  padding-right: $size-2;
  font-size: $size-00;
  line-height: $size-1;
  text-transform: uppercase;
  letter-spacing: .01rem;
  color: $text-muted;
}

h2.post-card-title {
  margin-top: 0;
  padding-left: $size-2;
  padding-right: $size-2;

  a {
    text-decoration: none;

    &:hover {
      color: #333;
    }
  }
}

.post-card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-card-excerpt {
  padding-bottom: $size-00;
  padding-left: $size-2;
  padding-right: $size-2;
}

.post-card-meta {
  padding: $size-000 $size-2;
  font-size: $size-0;
  line-height: $size-1;
  color: $text-muted;
}


@media (min-width: 795px) {
    .home-template .post-feed {

      .post-card:nth-child(6n+1):not(.no-image) {
        flex: 1 1 100%;
        flex-direction: row;

        .post-card-image-link {
            position: relative;
            flex: 1 1 auto;
            border-radius: 5px 0 0 5px;
        }

        .post-card-image {
            position: absolute;
            width: 100%;
            height: 100%;
        }

        .post-card-content {
            flex: 0 1 357px;
        }

        h2 {
        }

        p {
        }

        .post-card-content-link {
            padding: 30px 40px 0;
        }

        .post-card-meta {
            padding: 0 40px 30px;
        }

        .post-card-image {
            position: absolute;
            width: 100%;
            height: 100%;
        }

        .post-card-content {
            flex: 0 1 357px;
        }

        h2 {
        }

        p {
        }

        .post-card-content-link {
            padding: 30px 40px 0;
        }

        .post-card-meta {
            padding: 0 40px 30px;
        }
      }
    }
}

.home-template .site-header:after {
    display: none;
}

@media (max-width: 650px) {
    .post-feed {
        padding-top: 5vw;
    }
    .post-card {
        margin: 0 20px 5vw;
    }
}
