/*/////////////////////////////////////////*/
/* ￼Variables */
/*/////////////////////////////////////////*/

$text: #333;
$text-muted: #748699;
$text-link: #03b1cb;
$nf-green: #6ebf4b;
$base: #fff;
$rule: #ebeff2;
$base-gray: #f4f6f9;

// Decimal measurements, 20px default text
$define-rem: 10px;
$scale: 1.25;

$size-1: 2rem;
$size-0: $size-1 / $scale;
$size-00: $size-0 / $scale;
$size-000: $size-00 / $scale;
$size-2: $size-1 * $scale;
$size-3: $size-2 * $scale;
$size-4: $size-3 * $scale;
$size-5: $size-4 * $scale;
$size-6: $size-5 * $scale;
$size-7: $size-6 * $scale;
$size-8: $size-7 * $scale;
$size-9: $size-8 * $scale;

$line-1: 100%;
$line-0: $line-1 / $scale;
$line-00: $line-0 / $scale;
$line-000: $line-00 / $scale;
$line-2: $line-1 * $scale;
$line-3: $line-2 * $scale;
$line-4: $line-3 * $scale;
$line-5: $line-4 * $scale;
$line-6: $line-5 * $scale;
$line-7: $line-6 * $scale;
$line-8: $line-7 * $scale;
$line-9: $line-8 * $scale;

$regular: 400;
$medium: 600;
$bold: 700;
$black: 900;

$font-sans: 'Inter UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-serif: 'Source Serif Pro', 'Georgia', serif;

$shadow: 0 2px 5px rgba(0,0,0,.1);
$shadow-hover: 0 3px 20px rgba(0,0,0,.3);


/* Phone XL 370 */
$media-phone: "(min-width: 370px)";

/* Phablet 480 */
$media-phablet: "(min-width: 480px)";

/* Tablet 600 */
$media-tablet: "(min-width: 780px)";

/* Notebook 700 */
$media-notebook: "(min-width: 960px)";

/* Desktop 1400 */
$media-desktop: "(min-width: 1400px)";

/* Special media query for nav bar */
$media-nav: "(max-width: 780px)";

/*/////////////////////////////////////////*/
/* ￼Global */
/*/////////////////////////////////////////*/

html {
  background: $base;
  font-size: $define-rem;
}

/*/////////////////////////////////////////*/
/* Components */
/*/////////////////////////////////////////*/

@import './comp/comp-card.scss';
@import './comp/comp-header.scss';
@import './comp/comp-post.scss';
@import './comp/comp-post-meta.scss';
