.signup {
  padding: 0 1rem 0 1rem;
  text-align: center;

  h3 {
    padding-bottom: 0;
  }

  p {
    padding-top: $size-000;
  }

  .mc-field-group {
    position: relative;
    display: block;
    padding-top: 1rem;

    label {
      display: none;
    }

    input.email {
      display: block;
      width: 100%;
      padding: .8rem 1.25rem;
      margin-bottom: 1rem;
      box-sizing: border-box;
      border: .2rem solid $rule;
      border-radius: 4rem;
      font-family: $font-sans;
      font-size: $size-0;
      font-weight: $regular;
      color: $text;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      &::placeholder {
        color: $text-muted;
      }

      &:active,
      &:focus {
        outline: none;
        border-color: darken($rule, 15%);
      }
    }

    input.btn {
      display: block;
      width: 100%;
      padding: 1rem 0;
      border: none;
      border-radius: 4rem;
      font-family: $font-sans-headline;
      font-size: $size-0;
      font-weight: $bold;
      line-height: $line-1;
      letter-spacing: .05rem;
      text-decoration: none;
      text-align: center;
      color: $base;
      background: $text-muted;
      cursor: pointer;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transition: background-color .2s;

      &:hover {
    		background: darken($text-muted, 20%);
      }

      &:active,
      &:focus {
        background: $text-muted;
        color: $base;
        text-decoration: none;
        outline: none;
      }

      &:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
      }
    }
  }

  div.mce_inline_error {
    position: relative;
    bottom: -1rem;
    display: block;
    margin: 0;
    padding: 0;
    font-size: $size-0;
    font-weight: $medium;
    color: $text-error;
    text-align: center;
    background: none;
  }

  .response {
    display: block;
    margin: 0;
    padding: $size-0 0 0 0;
    font-size: $size-0;
    font-weight: $medium;
    line-height: $line-3;
    text-align: center;

    &#mce-success-response {
      color: $nf-green;
    }

    &#mce-error-response {
      color: $text-error;
    }
  }
}


/*/////////////////////////////////////////*/
/* Phablet */
/*/////////////////////////////////////////*/

@media #{$media-phablet} {

  .signup {
    padding: $size-3 0 0 0;

    .mc-field-group {
      display: inline-block;

      input.email {
        float: left;
        display: inline-block;
        width: 28rem;
        margin: 0;
        padding: 1rem 1.5rem;
        border-right: none;
        border-radius: 4rem 0 0 4rem;
      }

      input.btn {
        float: left;
        width: auto;
        display: inline-block;
        margin: 0;
        padding: 1.3rem 1.5rem 1.3rem 1.5rem;
        border-radius:  0 4rem 4rem 0;
      }
    }

    .response {
      padding: 0;
    }
  }

}


/*/////////////////////////////////////////*/
/* Tablet */
/*/////////////////////////////////////////*/

@media #{$media-tablet} {
  .signup {
    padding: 0 0 $size-7 0;

    .mc-field-group {
      input.email {
        width: 36rem;
        padding: 1rem 2.5rem;
        font-size: $size-1;
      }

      input.btn {
        padding: 1.4rem 2.5rem 1.4rem 2.5rem;
        font-size: $size-1;
        line-height: $line-1;
      }
    }
  }
}

/*/////////////////////////////////////////*/
/* Notebook */
/*/////////////////////////////////////////*/

@media #{$media-notebook} {

}

/*/////////////////////////////////////////*/
/* Desktop */
/*/////////////////////////////////////////*/

@media #{$media-desktop} {

}
