.signup {
  padding: 0 1rem 0 1rem;

  h4 {
    padding: $size-00 0 0 0;
  }

  p {
    padding: $size-1 0 0 0;
    text-transform: uppercase;
    font-weight: $medium;
  }

  .mc-field-group {
    position: relative;
    display: block;
    padding-top: 3rem;

    label {
      display: none;
    }

    input.email {
      display: block;
      width: 100%;
      padding: 1.2rem 1.5rem;
      margin-bottom: 1.2rem;
      box-sizing: border-box;
      border: none;
      border-radius: 4rem;
      font-family: $font-sans;
      font-size: $size-0;
      font-weight: $regular;
      color: $text;
      background: darken($base-gray, 10%);
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transition: background-color .2s;

      &::placeholder {
        color: $text-muted;
      }

      &:active,
      &:focus {
        outline: none;
        background: $base;
      }
    }

    input.btn {
      display: block;
      width: 100%;
      padding: 1.3rem 0;
      border: none;
      border-radius: 4rem;
      font-family: $font-sans;
      font-size: $size-0;
      font-weight: $bold;
      line-height: $line-1;
      letter-spacing: .05rem;
      text-decoration: none;
      text-align: center;
      color: $base;
      background: darken($text-muted, 10%);
      cursor: pointer;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transition: background-color .2s;

      &:hover {
    		background: $text-muted;
      }

      &:active,
      &:focus {
    		background: $text-muted;
        color: $base;
        text-decoration: none;
        outline: none;
      }

      &:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
      }
    }
  }

  div.mce_inline_error {
    position: relative;
    bottom: -1rem;
    display: block;
    margin: 0;
    padding: 0;
    font-size: $size-0;
    font-weight: $medium;
    color: $text-error;
    text-align: center;
    background: none;
  }

  .response {
    display: block;
    margin: 0;
    padding: $size-0 0 0 0;
    font-size: $size-0;
    font-weight: $medium;
    line-height: $line-3;
    text-align: center;

    &#mce-success-response {
      color: $nf-green;
    }

    &#mce-error-response {
      color: $text-error;
    }
  }
}


/*/////////////////////////////////////////*/
/* Phablet */
/*/////////////////////////////////////////*/

@media #{$media-phablet} {

  .signup {
    padding: 0;

    .mc-field-group {

      input.email {
      }

      input.btn {
      }
    }

    .response {
      padding: 0;
    }
  }

}


/*/////////////////////////////////////////*/
/* Tablet */
/*/////////////////////////////////////////*/

@media #{$media-tablet} {
  .signup {
    padding: 0;

    .mc-field-group {
      input.email {
        float: left;
        display: inline-block;
        width: 28rem;
        margin: 0;
        padding: 1.1rem 2rem;
        border-right: none;
        border-radius: 4rem 0 0 4rem;
        font-size: $size-0;
      }

      input.btn {
        float: left;
        width: auto;
        display: inline-block;
        margin: 0;
        border-radius:  0 4rem 4rem 0;
        padding: 1.2rem 1.5rem 1.3rem 1.5rem;
        font-size: $size-0;
        line-height: $line-1;

        &:hover {
        }

        &:active,
        &:focus {
          color: $base;
          text-decoration: none;
          outline: none;
        }
      }
    }
  }
}

/*/////////////////////////////////////////*/
/* Notebook */
/*/////////////////////////////////////////*/

@media #{$media-notebook} {
  .signup {
    padding: 0 0 $size-7 9rem;

    .mc-field-group {
      input.email {
        float: left;
        display: inline-block;
        width: 28rem;
        margin: 0;
        padding: 1.1rem 2rem;
        border-right: none;
        border-radius: 4rem 0 0 4rem;
        font-size: $size-0;
      }

      input.btn {
        background: darken($text-muted, 20%);

        &:hover {
          background: darken($text-muted, 10%);
        }

        &:active,
        &:focus {
          background: darken($text-muted, 10%);
        }
      }
    }
  }
}

/*/////////////////////////////////////////*/
/* Desktop */
/*/////////////////////////////////////////*/

@media #{$media-desktop} {
  .signup {
    padding: 0 0 $size-7 2rem;

    .mc-field-group {
      input.email {
        width: 25rem;
      }
    }
  }
}
