.post-feed {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 -1rem;
}

.post-card {
  flex: 1 1 30rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0 1rem 3rem;
  min-height: 30rem;
  background: #fff center center;
  background-size: cover;
  border-radius: .5rem;
  box-shadow: $shadow;
  transition: all 0.5s ease;

  &:hover {
    box-shadow: $shadow-hover;
    transition: all 0.3s ease;
    transform: translate3D(0, -1px, 0);
  }

  .post-card-image-link {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 5px 5px 0 0;

    .post-card-image {
      width: auto;
      height: 200px;
      background: $base-gray no-repeat center center;
      background-size: cover;
    }
  }

  .post-card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .post-card-tags {
      display: block;
      padding: $size-2 $size-1 0 $size-1;
      font-size: $size-00;
      font-weight: $medium;
      line-height: $size-1;
      text-transform: uppercase;
      letter-spacing: .01rem;
      color: $text-muted;
      -webkit-font-smoothing: antialiased;
    	-moz-osx-font-smoothing: grayscale;
    }

    h2.post-card-title {
      margin-top: 0;
      padding: $size-000 $size-1 0 $size-1;

      a {
        text-decoration: none;

        &:hover {
          color: $text;
        }
      }
    }

    .post-card-excerpt {
      padding: $size-00 $size-1 $size-0 $size-1;
    }

    .post-card-meta {
      display: none;
      padding: $size-000 $size-2;
      font-size: $size-00;
      line-height: $size-1;
      color: $text-muted;
    }
  }
}

.related-posts .post-card .post-card-content {
  padding-bottom: 3rem;

  .post-card-excerpt,
  .post-card-meta {
    display: none;
  }
}

/*/////////////////////////////////////////*/
/* Phablet */
/*/////////////////////////////////////////*/

@media #{$media-phablet} {

  .post-feed {
    padding: 0 1rem 0 1rem;
  }

  .post-card {
    margin: 0 1rem 3rem 1rem;

    .post-card-content {
      .post-card-tags {
        padding: $size-2 $size-2 0 $size-2;
      }

      h2.post-card-title {
        padding: $size-000 $size-2 0 $size-2;
      }

      .post-card-excerpt {
        padding: $size-00 $size-2 0 $size-2;
      }

      .post-card-meta {
        display: block;
      }
    }
  }
}


/*/////////////////////////////////////////*/
/* Tablet */
/*/////////////////////////////////////////*/

@media #{$media-tablet} {
  .post-feed {
    padding: 0;
    margin: 0 -2rem;
  }

  .post-card {
    max-width: calc(50% - 2rem);
    margin: 0 1rem 4rem 1rem;

    .post-card-content {
      .post-card-tags {
      }

      h2.post-card-title {
      }

      .post-card-excerpt {
      }

      .post-card-meta {
      }
    }
  }

  .blog-home .post-feed {
    .post-card:nth-child(6n+1):not(.no-image) {
      flex: 1 1 100%;
      flex-direction: row;
      max-width: none;
      min-height: 40rem;

      .post-card-image-link {
        position: relative;
        flex: 1 1 auto;
        border-radius: 5px 0 0 5px;

        .post-card-image {
          position: absolute;
          width: 100%;
          height: 100%;
        }
      }

      .post-card-content {
        flex: 0 1 357px;
      }
    }
  }
}

/*/////////////////////////////////////////*/
/* Notebook */
/*/////////////////////////////////////////*/

@media #{$media-notebook} {
  .post-card {
    max-width: calc(50% - 4rem);
    margin: 0 2rem 4rem 2rem;
  }
}

/*/////////////////////////////////////////*/
/* Desktop */
/*/////////////////////////////////////////*/

@media #{$media-desktop} {

}
